<persistence-unit name="something-manager">
    <description>Hibernate EntityManager</description>
    <!--Сюда вставлять путь до сущностей-->
    <class>com.epam.rd.pojo.Client</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
        <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQL95Dialect"/>
        <property name="hibernate.hbm2ddl.auto" value="update"/>
        <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
        <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://${liquibase.host}:${liquibase.port}/${liquibase.db}?currentSchema=${liquibase.schema}"/>
        <property name="javax.persistence.jdbc.user" value="pay"/>
        <property name="javax.persistence.jdbc.password" value="pay"/>
    </properties>
</persistence-unit>